<!-- Put name from "name" column -->
<!-- {% set photoname = ["firstphoto"] %}{% include "visuals.html" %} -->



<p class="dropcap">CAGUAS, Puerto Rico — As she drove the mountain road leading to her relatives' home, slowing to avoid craters where the street had collapsed, Quetcy Lozada went quiet.</p>
<p>For two weeks, in crushing humidity, she had walked streets lined with wrecked homes, yelling out that her team had food and water. She had laughed and cried with the people who came out.</p>


    <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
            <div id="div-gpt-ad-mrec-21" alignment="true">
                <script alignment="true" type="text/javascript">
                    // <![CDATA[
                    cX.callQueue.push(['invoke', function() {
                        googletag.cmd.push(function() {
                            googletag.display('div-gpt-ad-mrec-21');
                        });
                    }]);
                    // ]]>
                </script>
            </div>
        </div>
    </div>

<p><a href="https://www.youtube.com/watch?v=cbzYcB5YU10" target="_blank">Something about seeing the devastation here</a>, though, made her still.</p>
<p>"Oh my God. Look at that," Lozada whispered as she passed a neighborhood recreation center, the domed roof blown off leaving only the metal frame like the bones of an animal carcass.</p>
<p>She was based at a Salvation Army post less than 20 minutes from here, yet hadn't had time to visit her family.</p>
<p>They had told her on the phone they were fine.</p>
<p>But countless others she had met said the same, showing an inconceivable optimism, and then went back to homes with no electricity and no water, some with no roofs or no walls, having no idea when anything would get better.</p>


    {% set photoname = ["ssPuertoRico-b"] %}{% include "visuals.html" %}


<p>As she drove to her family's home Tuesday, she carried the question that had weighed on her for weeks: Were they really OK?</p>
<p>Lozada's parents left Puerto Rico for Philadelphia when they were children, brought by their parents for the same reason so many leave the island today: the promise of a better life.</p>
<p>Puerto Rico was struggling before Hurricane Maria barreled through on Sept. 20. The island has a bankrupt government $70 billion in debt, an unemployment rate hovering around 10 percent, and more than 43 percent of people living in poverty.</p>
<p>Since 2004, Puerto Rico has lost 400,000 residents, its population falling to 3.4 million. Many have settled in Philadelphia, which today about 134,000 Puerto Ricans call home.</p>
<p>Lozada grew up in that community but said she didn't have a strong connection to her roots. She pushed back on speaking Spanish at home, like any teenager wanting to fit in with her friends.</p>

{% set photoname = ["PUERTORICO05-bb"] %}{% include "visuals.html" %}

<p>"I never wanted to be Puerto Rican," she said. "I was like, I'm an American."</p>
<p>With age, she came to appreciate her heritage, especially when she started working at Concilio, a nonprofit that serves and advocates for the Latino community. Ten years ago, that position led her to a job as chief of staff for Philadelphia City Councilwoman Maria Quiñones-Sanchez, herself Puerto Rican with a home on the island.</p>
<p>Lozada said that when Hurricane Maria hit, there was no question she would come.</p>
<p>"I saw my parents, that they were worried, that they were worried for their family members that were here, that they were worried for the family they had not heard from," she said. "And I felt like I needed to bring them some relief, but also I needed to kind of see for myself that the island wasn't as bad as it seemed on the news."</p>

{% set photoname = ["ssPuertoRico-d"] %}{% include "visuals.html" %}

<p>By Tuesday, she had spent 13 straight days volunteering. It was Halloween, and the crews planned to quit early, giving her a window to see her family before her flight out the next day.</p>
<p>In the caravan that morning, she was behind <i>Desastre</i>, the slowest truck in the fleet, nicknamed after the Salvation Army slogan written in Spanish on the back, translating to "Where there is a disaster, we are there."</p>
<p>Loaded with food and water, <i>Desastre</i> could barely push 35 m.p.h., so the caravan moved slowly, the lead driver calling out over the radio to avoid "potholes on the left," "potholes on the right," or "potholes everywhere." They'd blown at least four tires in the last two weeks.</p>

{% set photoname = ["youtubevideo"] %}{% include "visuals.html" %}

<p>Once in Cayey, a town about an hour south of San Juan, they unloaded the supplies into minivans, then set off door-to-door. Everywhere, there were piles of debris that once made up homes: dresser drawers, colorful floor tiles, slats of wood and metal roofs, frayed couch cushions, a clock with the image of Santa Claus as its face.</p>
<p>One home set into a hill looked from the facade to have been spared. Yet through the windows were blue skies, the roof ripped clear off.</p>
<p>At another down the street, the second floor seemed to have vanished, the only sign it ever was there a few feet of railing and a refrigerator standing upright.</p>
<p>A few blocks away, Marie Lynn Cartagena stood in the center of her father's home, which was awash in blue light filtered through the tarp overhead. There was nothing below but the wooden studs and a concrete floor.</p>

{% set photoname = ["ssPuertoRico-e"] %}{% include "visuals.html" %}

<p>"This is the only thing my father had," Cartagena said through a translator. "This is where we were raised."</p>
<p>She is living with a neighbor, and her father is staying at a nursing home as they wait for word from FEMA on when and how they can rebuild.</p>
<p>Benedicta Santiago, who lives nearby, credits the grace of God that her home was spared.</p>
<p>Her bedroom window broke during the storm, destroying her closet and everything in it. Somehow, none of the dozen rosaries she hung from nails on the opposite wall were disturbed.</p>
<p>"It was a miracle," she said.</p>
<p>Down the street, Lozada heaved water and food from the back of an open minivan into people's arms, sweat dripping down her face.</p>

    {% set photoname = ["ssPuertoRico-c"] %}{% include "visuals.html" %}

<p>"Are you strong enough?" she asked an elderly man. "It's heavy."</p>
<p>"Of course," he said, laughing.</p>
<p>"May your blessings multiply," the next man said to her.</p>
<p>Others had blessed her too, like the 96-year-old woman she met the day before.</p>
<p>Doña Gullermina, as Lozada calls her, leaned out of her small wooden home to say she was out of water. The rain pounded down that day, and as Lozada brought the boxes up, Doña Gullermina pulled back the bedsheet that served as her front door.</p>
<p>Inside, there was little more than a chair and a bed. Yet the woman's only worry was that Lozada would catch a cold. She pushed the drenched curls out of Lozada's face, then offered her umbrella, only to realize it was broken.</p>
<p>Every day, Lozada has worried that she missed someone like Doña Gullermina, someone unable to come out to get the food and water when the van drives by.</p>
<p>"We may have a lot," Lozada said. "But it's never enough."</p>

{% set photoname = ["ssPuertoRico-f"] %}{% include "visuals.html" %}

<p>The home appeared around a bend in the road. A light rain had started to fall, and as Lozada got out of her car and clutched her aunt, she was overcome with tears unlike any she had cried over the last two weeks.</p>
<p>The two women rocked gently in the rain. After a long while like that, everyone was shepherded onto the porch.</p>
<p>Lozada's aunt, Elisa Rioz DelValle; uncle, Chris Rioz; and cousin, Anna Jimenez, all have lived in Philadelphia at some time in their lives. And all decided Puerto Rico was home.</p>
<p>They live together in a light-blue house with a wide wrap-around porch that looks out on the mountains and downtown Caguas. On New Year's Eve, they can see fireworks bursting over the town.</p>
<p>A plaque from the Philadelphia Fire Department hangs in the living room, bearing the name of Jimenez's husband, Alfredo A. Morales, who she said died in 1995 at age 36 of injuries sustained while battling a blaze.</p>

{% set photoname = ["ssPuertoRico-g"] %}{% include "visuals.html" %}

<p>The home smelled of spices, a beef stew simmering, and the sweet scent of steaming white rice.</p>
<p>They have has a gas stove, so they have been able to cook since the storm. They use their generator sparingly, mostly at night so they can watch the news. They get water from a community well.</p>
<p>"You know we are survivors," Jimenez told Lozada, holding her in her arms as they looked out at the mountains. "When we told you we were fine, we meant it."</p>

    <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
        <div class="adUnit" alignment="true">
            <div id="div-gpt-ad-mrec-22" alignment="true">
                <script alignment="true" type="text/javascript">
                    // <![CDATA[
                    cX.callQueue.push(['invoke', function() {
                        googletag.cmd.push(function() {
                            googletag.display('div-gpt-ad-mrec-22');
                        });
                    }]);
                    // ]]>
                </script>
            </div>
        </div>
    </div>

<p>The rain had picked up; a stream that curves behind the house was stained orange with mud. The ground, brown and barren after the storm, had turned green again. But the trees were still jagged and thin, and the women pointed out the house that previously had been hidden from their view.</p>
<p>"It's sad in one way," Jimenez said. "But in another, I can see things I didn't see before."</p>
<p>This trip stirred something in Lozada, a love for this island deeper than what had been there before. It's difficult to put into words, she said, but she felt the ache when she thought of leaving the next day.</p>
<p>"It's inside," she said, her hand on her chest. "There's just something inside that doesn't want to go."</p>

{% set photoname = ["ssPuertoRico-i"] %}{% include "visuals.html" %}
